@model IEnumerable<MvcMonitoreoTemp.Models.Posiciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
@Scripts.Render("~/scripts/jquery-1.7.1.js")
@Scripts.Render("~/scripts/location.js")
    <script type="text/javascript" 
	src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<div id="map_canvas" style="width:75%; height: 500px; float:left"></div>
<div  style="width:20%; float:left; margin-left:10px;">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitud)
            </td>
            <td>
                <img src="~/Images/zoom.png" width="16px" height="16px" onclick="zoomGPS(@item.latitud, @item.longitud)" />
            </td>
            <td>
                <img src="~/Images/info.png" width="16px" height="16px" />
            </td>
        </tr>
        }
    </table>
</div>
<script type="text/javascript">
    $(function () { 
        initialize();
        @foreach(var item in Model) {
        <text>
            setMarkers(@item.latitud, @item.longitud , '@item.nombre');
        </text>
        } 
$.getJSON("http://50.112.124.207/monitoreoapi/api/Posiciones",
    function(data){
        console.log(data);
    });
        timer = setTimeout('realoadPositions()', 4000);
    });
</script> 