@model IEnumerable<MvcMonitoreoTemp.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

@Scripts.Render("~/scripts/jquery-1.7.1.js")

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Agregar Cliente", "Create")
</p>
<table>
    <tr>
        <th style="width:20%">
            @Html.Label("Nombre")
        </th>
        <th style="width:15%">
            @Html.Label("Contacto")
        </th>
        <th style="width:15%">
            @Html.Label("Correo")
        </th>
        <th style="width:15%">
            @Html.Label("Teléfono")
        </th>
        <th style="width:15%">
            @Html.Label("Fecha")
        </th>
        <th style="width:15%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.nombre)*@
            @Html.ActionLink(item.nombre, "UsuariosCliente", "Usuarios", new { id=item.idCliente }, null) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @item.fecha_registro.ToString("dd MMM yyyy")
            @*@Html.DisplayFor(modelItem => item.fecha_registro)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCliente }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.idCliente }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.idCliente })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    
    $(document).ready(function () {

        BindGridView();
    });

    function BindGridView() {
        $.ajax({
            type: "POST",
            //url: "http://50.112.124.207/monitoreoapi/api/Posiciones",
            url: "http://www.mexlog.net/CDMIncidentes/MonitoreoTemp.aspx/GetReporte",
            data: "{}",
            contentType: "application/json",
            dataType: "json",

            success: function (msg) {

                alert(msg);
                /*
                var row = "";
                for (i = 0; i < msg.d.length; i++) {
                    var data = jsonParse(msg.d[i]);
                    var alterno = "";
                    if (i % 2 == 0)
                        alterno = "class='alt'";
                }
                */
            }
        })
    }
</script> 