
@model MvcMonitoreoTemp.Models.GPS


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMEI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMEI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modelo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.timestamp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timestamp)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idGPS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
