 @model IEnumerable<MvcMonitoreoTemp.Models.GPS>


@{
   ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
   @Html.ActionLink("Create New", "Create")
</p>
<table>
   <tr>
       <th>
           @Html.DisplayNameFor(model => model.IMEI)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.nombre)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.modelo)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.telefono)
       </th>
   </tr>

@foreach (var item in Model) {
   <tr>
       <td>
           @Html.DisplayFor(modelItem => item.IMEI)
       </td>
       <td>
           @Html.DisplayFor(modelItem => item.nombre)
       </td>
       <td>
           @Html.DisplayFor(modelItem => item.modelo)
       </td>
       <td>
           @Html.DisplayFor(modelItem => item.telefono)
       </td>
       <td>
           @Html.ActionLink("Edit", "Edit", new { id=item.idGPS }) |
           @Html.ActionLink("Details", "Details", new { id=item.idGPS }) |
           @Html.ActionLink("Delete", "Delete", new { id=item.idGPS })
       </td>
   </tr>
}

</table>